* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colore-primario:#23272a;
    --colore-secondario:#ffffff;
    --colore-bg1:#f6f6f6;
    --colore-header:#2a5ee8;
    --color-accessory:#7289da;
}
.debug{
    border: 2px solid black;
}
h1{
    font-size: 50px;
    padding: 50px;
    color: white;
}

.flex-d{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
}


header{
    background-color: var(--colore-header);
}
ul{
    list-style: none;
}
a{
    color: white;
    padding: 12px 25px;
    text-decoration: none;
}

    
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
main section{
    padding: 50px ;
}
.greybg{
    background-color: var(--colore-bg1);
}
footer{
    background-color: var(--colore-primario);
}
.padding-header{
    padding-top: 15px;
}
.Hero{
    background-image:url(../img/jumbo.png);
    min-height:600px;
    background-size: cover;
}
.hero-char{
    max-width:50%;
    
}
.justifycenter{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}
.paddinghero{
    padding-top: 120px;
}
.white-text{
    color: white;
    font-size: 24px;
    text-align: center;
}
.button-hero{
    padding: 30px;
    text-align: center;
}
