* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colore-primario:#23272a;
    --colore-secondario:#ffffff;
    --colore-bg1:#f6f6f6;
    --colore-header:#2a5ee8;
    --color-accessory:#7289da;
}
/*.debug{
    border: 2px solid black;
}*/
body{
    font-family: 'Noto Sans Symbols', sans-serif;
}
h1{
    font-size: 45px;
    padding: 40px;
    color: white;
    text-align: center;
}

.flex-d{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
}

header{
    background-color: var(--colore-header);
}
ul{
    list-style: none;
}


a{
    color: white;
    margin: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
  }
a:hover{
    text-decoration: underline;
}
a.access-button:hover{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.greybg{
    background-color: var(--colore-bg1);
}
footer{
    background-color: var(--colore-primario);
}
.padding-header{
    padding-top: 15px;
}
.Hero{
    background-image:url(../img/jumbo.png);
    min-height:630px;
    background-size: cover;
}
.hero-char{
    max-width:65%;
    
}
.justifycenter{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}
.paddinghero{
    padding-top: 140px;
}
.white-text{
    color: white;
    text-align: center;
    
}
.button-hero{
    padding: 15px;
    text-align: center;
}
.button-style-general{
     border-radius: 30px;   
     min-width: 220px;
     padding: 20px;
     font-size: 20px;
}
.button1{
    background-color: var(--colore-bg1);
}
.button2{
    background-color: var(--colore-primario);
    color: white;
}
.access-button{
    border: 1px solid black;
    padding: 5px 17px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 15px;
}
    
main img{
    width: 100%;
}  

p{
    
    font-size: 1.3em;
}
h2{
    font-size: 2.5em;
    line-height: 1.4em;
    padding: 20px 15px;

}
.flex{
    display: flex;
    flex-direction: row;}
 .justify-center  {
    justify-content: center;
 }
    
.imagecont{
  width: 60%;
}
.text-content{
    width: 40%;
    padding: 20px 15px;
    
}
.rowreverse{
    flex-direction: row-reverse;
}
.text-align{
    text-align: center;
}
.padding-section{
    padding: 30px;
}
.accessory{
    background-color: var(--color-accessory);
    padding: 15px;
    color: white;
}
h3{
    font-size: 1.8em;
    padding: 25px;
    background-size: contain;
    background-position: top center;
}

li{
    color: white;
    font-size: 0.8em;
}
footer li{
    color: var(--colore-secondario);
}
.big{
    font-size: 1.2em;
}
.padding-footer{
    padding: 30px;
}
li:first-child{
    color: var(--color-accessory);
}
.space-beetween{
    justify-content: space-between;
    flex-wrap: wrap;
}
.button4{
    padding: 5px 5px;
    font-size: 0.8em;
    background-color: var(--color-accessory);
    color: white;
    
}
.wave{
    display:flex;
    opacity: 0.03;
    margin: 0;
}
.trasform{
    transform: scaleY(-1);
}
.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position:top center;
    padding: 10px;
    
}
.botpadding{
    padding: 80px;
}
